@font-face {
    font-family: 'Rimouski';
    src: url('/font/rimouski_sb-webfont.woff2') format('woff2'),
         url('/font/rimouski_sb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
